<ion-nav-buttons side="right">
    <button class="button button-clear button-positive ion-plus-round" ng-click="saveContact()">
    </button>
</ion-nav-buttons>

<ion-view title="{{person.title}}">
  <ion-content has-header="true" padding="true">

      <div class="col-67">
          <h2>{{person.directory_title}}&nbsp;{{person.directory_first_name}}&nbsp;{{person.directory_last_name}}</h2>
          <h3>{{person.directory_post_nominals}}</h3>
      </div>
      <div ng-show="person.directory_avatar" class="col-33">
          <img src='http://www.wit.ie{{person.directory_avatar}}' width='100%' />
      </div>
      <div ng-show="person.building" class="item item-text-wrap">
          Building: {{person.building}}
      </div>
      <div ng-show="person.directory_room_number" class="item item-text-wrap">
          Room Number: {{person.directory_room_number}}
      </div>
      <div ng-show="person.directory_external_phone" class="item item-text-wrap item-icon-right">
          <i class="icon ion-ios7-telephone"></i>
          Phone: <a href="tel:+353{{person.directory_external_phone}}">{{person.directory_external_phone}}</a>
      </div>
      <div ng-show="person.directory_extension"  class="item item-text-wrap item-icon-right">
          Extension: {{person.directory_extension}}
      </div>
      <div ng-show="person.directory_email"  class="item item-text-wrap item-icon-right">
          <i class="icon ion-email"></i>
          Email: <a href="mailto:{{person.directory_email}}">{{person.directory_email}}</a>
      </div>


  </ion-content>
</ion-view>
